*{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: beige;
}
#logoimg{
    width: 5em;
    border-radius: 60%;
    background-color: blanchedalmond;
    position: relative;
    display: inline;
}
#logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 35px;
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;
    left: 1rem;
    top: 1.2em;
    margin: 0em;
    min-width: 10em;
    border-collapse: collapse;
    z-index: 1;
    background-color: transparent;
}
#imgPrincipal{
    position: relative;
    display: block;
    width: 70rem;
    border-radius: 5%;
}
header{
    display: fixed ;
}
.main-nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-collapse: collapse;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 0.6rem;
    left: 32rem;
    z-index: 1;
    background-color: transparent;
}
.main-link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: blue;
    width: 9rem; 
    height: fit-content;
    border: 0.1rem solid black;
    padding: 0.1rem;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.linkC{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: darkgreen;
    width: fit-content; 
    height: fit-content;
    border-style:ridge;
    border-color: black;
    padding: 0.3rem;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.home{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: blue;
    border: 0.1rem solid black;
    width: fit-content; 
    height: fit-content;
    padding: 0.1rem;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#pagina{
    display: inline;
    position: relative;
    margin-left: 12em;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}
#sectLogo{
    display: inline-block;
    position: relative;



}
#textoPrinc{
    display: inline;
    position: relative;
    left: 6.5em;
    bottom: 6.5em;
}
article div{
    display: inline;
    width: 50px;
    height: 50px;
    position: relative;
}
div p{
    position: relative;
    left: 2em;
    width: fit-content;
    
}
#imgFoot{
    width: 50em;
    border-radius: 5%;
    display: inline-block;
    position: relative;
    bottom: 7em;
}
#imgFoot3{
    width: 50em;
    border-radius: 5%;
    display: inline-block;
    position: relative;
    bottom: 5em;
}
dt{
    font-weight: bold;
    font-size: 20px;
}
#sectTable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content: space-evenly;
}
#footTable{
    display: flex;
    justify-content: flex-end;
    

}
section h3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content: space-evenly;
    
}
section p{
    display: flex;
    flex-direction: row;
    position: relative;
}